{% extends 'form/base.html.twig' %}

{% block header_title %}
Échec de connexion
{% endblock %}

{% block body %}
{{ parent() }}

<div class="row">
  <div class="col-12">
    <p class="alert alert-danger">
      Le lien de connexion que vous avez utilisé a expiré.
    </p>
  </div>
</div>
{% endblock body %}
