{% extends 'form/base.html.twig' %}

{% block header_title %}
Déconnexion
{% endblock %}

{% block body %}
{{ parent() }}

<div class="row">
  <div class="col-12">
    <p class="alert alert-danger">
      Vous être déconnecté, merci de votre visite.
    </p>
  </div>
</div>
{% endblock body %}
