{% extends 'base.html.twig' %}

{% block main_top %}
{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block header %}{% endblock %}

{% block body %}
<div class="row">
  <div class="col-12">
    <div class="intro">
      <h2>
        Bienvenue au cabinet vétérinaire St Clément à Nantes.
      </h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <p class="alert alert-danger">
      Vous être déconnecté, merci de votre visite.
    </p>
  </div>
</div>
{% endblock body %}

{% block menu_top %}
{{ parent() }}
{% endblock %}
