# Docker environnement variables.
# Copy this file as "docker.env".

# This one is likely to be overriden by scripts.
APP_DIR=/var/www/chlovet2

# This one is also an application variable.
APP_ENV=prod

# ProsreSQL image, not sure this is actually used.
POSTGRES_USER=postgres
POSTGRES_PASSWORD=SECRET
