
#controls {
    ul {
        float:right;
        list-style-type: none;
        margin-bottom: 0.5em;
        li {
            font-size: rem(11px);
            a {
                color: $gris-bleu-fonce;
            }
        }
    }
}

#main {
    position: relative;
    overflow: hidden;
    &:before {
        content: "";
        width: 110%;
        height: 220px;
        display: block;
        position: absolute;
        background-color: $gris-bleu;
        top:-50px;
        left: -5%;
        transform: rotate(-2deg);
        z-index: -1;
    } 
    &:after {
        content: "";
        width: 100%;
        height: 100%;
        z-index: -2;
        position: absolute;
        //background-color: #F2F2F2;
        top :0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

#main {
    min-height: 400px;
}
.header {
    &-content {
        min-height: 140px;
    }
    &-content,
    &-form {
        padding-bottom: 1em;
        .col-title {
            h1 {
                small,
                .small {
                    font-size: rem(18px);
                }
                font-size: rem(32px);
                color: #fff;
                text-transform: uppercase
            }
        }
        .col-intro {
            //padding-top: 1em;
            p, address {
                font-size: rem(13);
                color: #FFFFFF;
                // letter-spacing: 0;
                // line-height: 16px;
                a, a:hover {
                    color: #ffffff;
                }
            }
        }
    }
}

.rounded-content {
    background-color: #fff;
    @include rounded(6px);
    padding: 20px 15px; 
    margin-bottom: 20px;
    box-shadow: 0 2px 5px 1px rgba(0,0,0,0.18);
}

.main {
    &-content,
    &-form {
        h2 {
            font-size: rem(20);
            font-weight: 500;
            color: #F18825;
            //letter-spacing: 0;
            //line-height: rem(17);
        }
        p {
            //font-size: rem(12px);
            color: #5D5D5D;
            //letter-spacing: 0;
            //line-height: rem(16);
        }
    }
}

.masterhead {
    position: relative;
    background-color: $family;
    h1 {
        text-transform: uppercase;
        color: #fff;
        font-size: 3.2rem;
        // line-height: 0.8em; 
        margin-bottom: 0.4em;
        margin-top: 1.5em;
        span {
            font-size: 2rem;
        }
    }
    p {
        font-size: rem(15);
        color: $gris-bleu-fonce;
        // letter-spacing: 0;
        // line-height: 15px;
    }
}

.hiw-list {
    background-color: $yellow;
    min-height: 180px;
    padding-top: 70px;
    h2 {
        text-align: center;
        font-size: rem(23px);
        color: $gris-bleu-fonce;
        // letter-spacing: 0;
        text-transform: uppercase;
        margin-bottom: 1em;
    }
    p {
        color: $gris-bleu-fonce;
        font-size: rem(12);
        strong {
            font-size: rem(16);
            text-transform: uppercase;
            font-weight: 400;
        }
    }
    ul {
        width: 100%;
        li {
            color: $gris-bleu-fonce;
            font-size: rem(12);
            strong {
                font-size: rem(16);
                text-transform: uppercase;
                font-weight: 400;
            }
            &.list-item-navigate,
            &.list-item-view,
            &.list-item-complete {
                width: 32%;
                margin: 0;
                &:before {
                    content: '';
                    //display: inline-block;
                    width: 45px;
                    height: 45px;
                    float: left;
                    margin-right: 1em;
                }
            }
        }
    }
}

.btn {
    @include rounded(10rem);
    padding-left: 25px;
    padding-right: 25px;
    font-size: rem(13);
    text-transform: uppercase;
    &.btn-primary {
        //background-color: $orange;
        color: #fff;
    }
    &.btn-default {
        color: #fff;
        border: 2px solid #FFFFFF;
    }
    &.btn-remove {
        height: 32px; 
        background: $orange url(../../../img/icon-trash.svg) no-repeat center center;
        background-size: 14px; 
        padding-left: 15px;
        padding-right: 15px;
    }
}

aside {
    h3 {
        font-size: rem(19px);
        color: #fff;
        //letter-spacing: 0;
    }
}
