
/* @font-face {
  font-family: "Futura W02 Book";
  src: url('../fonts/futura-book.eot');
  src: url('../fonts/futura-book.eot?#iefix') format('embedded-opentype'),
  url('../fonts/futura-book.woff') format('woff'),
  url('../fonts/futura-book.ttf') format('truetype'),
  url('../fonts/futura-book.svg#icon') format('svg');
}
$futura-book: "Futura W02 Book", sans-serif;

@font-face {
  font-family: "Futura W01 Bold";
  src: url('../fonts/futura-bold.eot');
  src: url('../fonts/futura-bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/futura-bold.woff') format('woff'),
  url('../fonts/futura-bold.ttf') format('truetype'),
  url('../fonts/futura-bold.svg#icon') format('svg');
}
$futura-bold: "Futura W01 Bold", sans-serif; */