{% extends 'gestion/base.html.twig' %}

{% block title %}Pages{% endblock %}

{% block breadcrumb_content %}
<li class="breadcrumb-item active" aria-current="page">Pages</li>
{% endblock %}

{% block body %}
{# @todo find a better way to pass input options (using constants instead of ints) #}
{{ view.render(viewDef, items, query)|raw }}
{% endblock %}
