{% extends 'gestion/base.html.twig' %}

{% block title %}Supprimer {{ page.id }}{% endblock %}

{% block breadcrumb_content %}
<li class="breadcrumb-item"><a href="{{ path('page_admin_list') }}">Pages</a></li>
<li class="breadcrumb-item active" aria-current="page">Supprimer la page</li>
{% endblock %}

{% block navbar_right_custom %}
{# @todo access rights #}
<li class="nav-item">
  <a class="nav-link text-white btn btn-danger btn-sm" href="{{ path('page_admin_list') }}">Annuler</a>
</li>
{% endblock %}

{% block body %}
{# @todo find a better way to pass input options (using constants instead of ints) #}
{{ form(form) }}
{% endblock %}
