body {
    background-color: $body-bg-color;
}
body, body > * {
    position: relative; /* For z-index to work */
}
#main > .container, #header {
    background-color: $default-bg-color;
    border-left: $body-content-border-color;
    border-right: $body-content-border-color;
    @include media-breakpoint-up(md) {
        padding-left: 2.5em;
        padding-right: 2.5em;
    }
}
#main-row {
    padding-top: $grid-gutter-width;
}
#breadcrumb-row + #main-row {
    padding-top: 0;
}
@include media-breakpoint-down(md) {
  .container {
    max-width: 100%;
    width: 100%;
  }
}