{% extends 'base.html.twig' %}

{% block breadcrumb %}
<div class="container">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          {% block breadcrumb_content %}
          <li class="breadcrumb-item active" aria-current="page">Administration</li>
          {% endblock %}
        </ol>
      </nav>
    </div>
  </div>
</div>
{% endblock %}

{% block layout %}
<div class="container">
  {% block main_content %}
  <div class="main clearfix">
    <div class="row main-content">
      <div class="col">
        {% block header %}
        <h1 class="mb-3">{% block header_title %}{{ block('title') }}{% endblock %}</h1>
        {% endblock header %}
        {% block body %}
        BODY
        {% endblock body %}
      </div>
    </div>
  </div>
  {% endblock main_content %}
</div>
{% endblock layout %}
