{% extends 'base.html.twig' %}

{% block breadcrumb %}
<div class="container">
  <div class="row">
    <div class="col-md-11">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          {% block breadcrumb_content %}
          <li class="breadcrumb-item active" aria-current="page">Administration</li>
          {% endblock %}
        </ol>
      </nav>
    </div>
  </div>
</div>
{% endblock %}

{% block layout %}
<div class="container">
  {% block header %}
  <div class="row header-content">
    <div class="col-md-5 col-sm-12 col-title">
      <h1>{% block header_title %}{{ block('title') }}{% endblock %}</h1>
    </div>
    <div class="col col-intro">
      {% block header_text %}
      {% endblock %}
    </div>
  </div>
  {% endblock %}

  {% block main_content %}
  <div class="main clearfix">
    <div class="row main-content">
      <div class="col">
        {% block body %}{% endblock %}
      </div>
    </div>
  </div>
  {% endblock %}
</div>
{% endblock %}
