{% extends 'form/base.html.twig' %}

{% block header_title %}
Commémoratif
{% endblock %}

{% block body %}
{{ parent() }}

<div class="row">
  <div class="col-12">
    {{ form(form) }}
  </div>
</div>
{% endblock body %}

{% block menu_top %}
{{ parent() }}
{% endblock %}
