{% extends 'form/base.html.twig' %}

{% block header_title %}
Cabinet vétérinaire Saint-Clément
{% endblock %}

{% block body %}
{{ parent() }}

<div class="row mb-3">
  <div class="col">
    Vous êtes connecté avec votre lien de connexion.
  </div>
  <div class="col-auto">
    <a class="btn btn-danger" href="{{ path('form_logout') }}">
      Déconnexion
    </a>
  </div>
</div>
{% endblock body %}
