{% extends 'base.html.twig' %}

{% block main_top %}
{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block header %}{% endblock %}

{% block header_menu %}
<ul class="navbar-nav col-auto" id="header-menu">
  <li class="nav-item active">
    <a class="nav-link" href="#">Accueil <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="#">Nous situer</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Contact</a>
  </li>
</ul>
{% endblock header_menu %}


{% block body %}
<div class="row">
  <div class="col-12">
    <div class="intro">
      <h2>
        Bienvenue au cabinet vétérinaire St Clément à Nantes.
      </h2>
    </div>
  </div>
</div>
{% endblock body %}

{% block menu_top %}
{{ parent() }}
{% endblock %}
